[vm]
%{ for key, value in vm_example ~}
${value.fqdn} ansible_host=${value.ip}
%{ endfor ~}

[all:vars]
ansible_user=${coalesce(values(vm_example)[0].ssh_user, "root")}
ansible_ssh_private_key_file="~/.ssh/id_rsa"
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
ansible_python_interpreter=/usr/bin/python3
